.product-page-photo {
  width: 100%;
}

.product-page-description {
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.review-banner {
  background-color: $ivory;
  padding-bottom: 1em;
  border-radius: 3px;
  opacity: 0.8;
}
