<div class="banner">
  <h1 class="banner-text">Careers</h1>
</div>
<div class = cards-careers>
  <div class="card-career">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
    <div class="card-career-infos">
      <h2>Alternance CSS</h2>
      <p>Spit Cider, recherche activement un profil Développeurs Font-End/Intégrateur Web (H/F), dans le cadre de Contrats d'Apprentissage de 16 à 24 mois.</p>
    </div>
  </div>
  <div class="card-career">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg"/>
    <div class="card-career-infos">
      <h2>CDE Developpeur manager</h2>
      <p>Participer aux évolutions et aux développements des systèmes existants
        Connaissances des langages informatiques (CSS , PHP ,MySQL , HTML)
        Etre créatif, curieux, force de proposition, polyvalent(e).
        Une première expérience souhaitée dans le développement</p>
    </div>
  </div>
