<%= render partial: "layouts/banner" %>
<div class="container m-auto mt-3">
  <div class="reservation p-2 d-flex">
    <input class="form-control" type="text" name="press-field" placeholder="reservation date">
    <input class="btn" type="submit" name="press" id="press" value="Press!">
  </div>
</div>


<div class="footer">
  <div class="marques-protegee" dir="ltr">
    © 2022 Spit Cider
  </div>
  <div class="conditions-generales">
     Condition générales
  </div>
  <div class="confidentialite">
    Confidentialité
  </div>
  <div class="infos">
    Info sur l'Entreprise
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
