<div class="banner">
  <h1 class="banner-text">La TEAM Spit Cider</h1>
</div>
<div class = cards-profile>
  <div class="card-profile">
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    <div class="card-profile-infos">
      <h2>Brendan</h2>
      <p>On peut mettre une petite description de son poste dans Spit Cider</p>
    </div>
  </div>
  <div class="card-profile">
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    <div class="card-profile-infos">
      <h2>Luc</h2>
      <p>On peut mettre une petite description de son poste dans Spit Cider</p>
    </div>
  </div>
  <div class="card-profile">
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    <div class="card-profile-infos">
      <h2>Thomas</h2>
      <p>On peut mettre une petite description de son poste dans Spit Cider</p>
    </div>
  </div>
  <div class="card-profile">
    <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
    <div class="card-profile-infos">
      <h2>Romain</h2>
      <p>On peut mettre une petite description de son poste dans Spit Cider</p>
    </div>
  </div>
</div>
