// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
p {
  margin: 0;
}
a {
  text-decoration: none !important;
  color: $wgreen;
  &:hover {
    color: $pine;
  }
}
* {
  color: $pine;
  font-family: 'Abel', sans-serif;
}

.undertitles {
  color: $peps;
}

.element-header {
  margin-bottom: 3em;
  margin-top: 3em;
}

.brand-name {
  font-family: 'Permanent Marker', sans-serif;
}

.form-header {
  text-align: center;
  height: 100vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-content {
  align-items: center;
  background-color: $cultured;
  border-radius: 4px;
  padding: 4em;
  line-height: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
