<div class="newsletter p-5">
  <div class="container">
    <div class="reservation mb-3 d-flex">
      <input type="text" placeholder="   newsletter" class="form-control p-2 flex-grow-1 input1">
      <%= submit_tag "Press!", class: "btn flex-grow-0 input2 ps-5 pe-5" %>
    </div>
  </div>
</div>

<div class="footer-dark">
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 item">
                <h3 class="footer-title">Pages</h3>
                <ul>
                    <li><a href="#">Home page</a></li>
                    <li><a href="#">Ciders</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 item">
                <h3 class="footer-title">About</h3>
                <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">CGV</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 item">
                <h3 class="footer-title">Contact</h3>
                <ul>
                    <li><a href="#">Spit Cider</a></li>
                    <li><a href="#">Siège : Rue de la Soif</a></li>
                    <li><a href="#">tèl : 01 02 03 04 05</a></li>
                    <li><a href="#">email : http//spit_cider@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 item text">
                <div class="logo d-flex align-items-center">
                  <img src="https://funfamilycrafts.com/wp-content/uploads/2014/05/felt.apple_.worm_.jpg" alt="apple with a worm inside">
                  <h3 class="brand-name fs-3 p-3">Spit Cider</h3>
                </div>
                <p>SPIT CIDER is a cider rental site. The site offers a wide choice of cider to delight all tastes.</p>
            </div>
            <div class="col item social mt-5"><a href="#"><i class="fa-brands fa-facebook-f"></i></a><a href="#"><i class="fa-brands fa-twitter"></i></a><a href="#"><i class="fa-brands fa-instagram"></i></a><a href="#"><i class="fa-brands fa-snapchat"></i></div>
            </div>
            <p class="copyright undertitles">SPIT CIDER © 2022</p>
            </div>
        </div>
    </footer>
</div>
