
<div class="reservation p-2 mb-3 d-flex">
  <input type="text" placeholder="newsletter" class="form-control flex-grow-1">
  <%= submit_tag "Press!", class: "btn flex-grow-0" %>
</div>

<div class="footer-dark">
  <footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 item">
                <h3>Pages</h3>
                <ul>
                    <li><a href="#">Home page</a></li>
                    <li><a href="#">Ciders</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">CGV</a></li>
                </ul>
            </div>
            <div class="col-sm-3 col-md-3 item">
                <h3>Contact</h3>
                <ul>
                    <li><a href="#">Spit Cider</a></li>
                    <li><a href="#">Siège : Rue de la Soif</a></li>
                    <li><a href="#">tèl : 01 02 03 04 05</a></li>
                    <li><a href="#">email : http//spit_cider@gmail.com</a></li>
                </ul>
            </div>
            <div class="col-md-3 item text">
                <h3>Spit Cider</h3>
                <p>SPIT CIDER is a cider rental site. The site offers a wide choice of cider to delight all tastes.</p>
            </div>
            <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">SPIT CIDER © 2022</p>
            </div>
        </div>
    </footer>
</div>
